.square {
    background-color: red;
    padding: 30px;
}
.botao {
    background-color: #F00;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border:  2px solid #000;
    border-radius: 5px;
}
.legend {
    color: #00ff00;
}